<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<style>
p {
  color: red;
}
</style>
<header>
	<nav class="navbar navbar-expand-md navbar-dark" style="background-color: Coral">
                 <div>
                 		<h2>Book Store Login</h2>
                 </div>
	</nav>
</header>
<br>
 <div class="container col-md-5">
 	<div class="card">
 		<div class="card-body">
			<h2>Customer Login Form</h2>
  			<br>
  			<form th:object="${user}" th:action="@{login}" th:method="post">
		   	<fieldset class="form-group">
		       <label>Username</label> <input type="text" class="form-control" th:value="${user.username}" th:filed="*{username}" name="username">
		   	</fieldset>
		                        
		   	<fieldset class="form-group">
		        <label>Password</label> <input type="password" class="form-control" th:value="${user.password}" th:filed="*{password}" name="password">
		        
		   	</fieldset>
		   	 <p th:if="${error} != null" th:utext="${error}"></p>
		   	<a href="/disregister" class="nav-link">Register</a>
		   	<br>
		   	<input type="submit" value="Login" class="btn btn-success" />
		  </form>
		</div>
   </div>
</div>
</body>
</html>