<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Out</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cerulean/bootstrap.min.css" integrity="sha384-3fdgwJw17Bi87e1QQ4fsLn4rUFqWw//KU0g8TvV6quvahISRewev6/EocKNuJmEw" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
            <h3 class="navbar-brand">BookStore</h3>
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" th:href="@{/home/{user}(user = ${username})}">Home
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/order/{username}/{totalQuantity}(username = ${username},totalQuantity = ${totalQuantity})}">Orders List</a>
                  </li>
                </ul>
              </div>
              <div style="float: right;">
                <h5 style="display: inline-block;"  th:text="${'Hello,' + username}"></h5>
                <a style="display: inline-block;margin-left: 10px;" th:href="@{/viewcart/{username}/(username = ${username})}">
                    <i class="fas fa-shopping-cart" style="color: aliceblue;"></i>
                    <span class="rounded-pill badge bg-danger" th:text="${totalQuantity}"></span>
                </a>
                <a class="nav-link" th:href="@{/}" style="margin-left: 15px;display: inline-block;color: aliceblue;">Log Out</a>
              </div>
            </div>
          </nav>
    </header>
    <br>
    <section>
        <div class="container">
            <div class="row" style="display: block;" th:each="checkout: ${checkoutlist}">
                    <h3 class="mb-4" style="margin-top: 30px;margin-left: auto;margin-right: auto;">Order</h3>
                    <h6 class="mb-4" style="margin-top: 30px;margin-left: auto;margin-right: auto;">Items List</h6>
                    <table class="table" style="margin-top: auto;margin-left: auto;margin-right: auto;">
                        <thead class="table">
                            <th >Cover</th>
                            <th >Title</th>
                            <th >Unit</th>
                            <th >Quantity</th>
                            <th >Total</th>
                        </thead>
                        <tbody >
                                <tr th:each="bookorder: ${checkout.getBooks()}">
                                <td><img th:src="${'data:image/*;base64,'+{bookorder.book.cover}}" style="height:100px;width:80px;" alt="#"/></td>
                                <td><a th:text="${bookorder.book.title}" th:href="@{/detail/{user}/{id}(id=${bookorder.book.idbook}, user=${username})}"></a></td>
                                <td th:text="${bookorder.book.price}"></td>
                                <td th:text="${bookorder.quantity}"></td>
                                <td th:text="${bookorder.book.price*bookorder.quantity + '$'}"></td>
                             </tr>
                        </tbody>
                    </table>
                    <hr>
                    <h6 th:text="${'Receiver: ' + checkout.fullname}"> </h6>
                    <h6 th:text="${'Address: ' + checkout.addressorder}"> </h6>
                    <h6 th:text="${'Phone Number: ' + checkout.phonenumber}"></h6>
                    <h6 th:text="${'Pay Method: ' + checkout.paymethod}"> </h6>
                    <h6 th:text="${'Total: ' + checkout.finalprice + '$'}"> </h6>
                    <br>
                    <a class="btn btn-danger" th:href="@{/cancel/{user}/{idcheckout}/{totalQuantity}(user = ${username}, idcheckout = ${checkout.idcheckout}, totalQuantity = ${totalQuantity})}" onclick="return confirm('Are you sure to cancel this order?')" style="float: right;margin-bottom:20px">Cancel</a>
                    <br>
                    <hr>
                    <br>
              </div>
        </div>
    </section>
</body>
</html>